{{'scott' | uppercase}}
<br>
{{'scott amith raj' | titlecase}}
<br>
{{"rajesh" | slice:"2":"4"}}
<br>
{{no | number}}
<br>
{{no | currency}}
<br>
{{no | currency:"INR"}}
<br>
{{no | currency:"GBP"}}
<br>
{{no | percent}}
<br>
{{dt}}
<br>
{{dt | date}}
<br>
{{dt | date:"dd"}}
<br>
{{dt | date:"EEE"}}
<br>
{{dt | date:"EEEE"}}
<br>
{{dt | date:"MM"}}
<br>
{{dt | date:"MMM"}}
<br>
{{dt | date:"MMMM"}}
<br>
{{dt | date:"yy"}}
<br>
{{dt | date:"y"}}
<br>
{{dt | date:"hh"}}
<br>
{{dt | date:"HH"}}
<br>
{{dt | date:"a"}}
<br>
{{x | json}}


